.header{
      width: 100%;
    background: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
 
.nav {
    max-width: 1440px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.navLink {
    color: rgb(8, 8, 8);
  text-decoration: none;
  margin-right: 48px;
}

.active {
    color: rgb(43, 2, 158);
    text-decoration: underline;
}

.navLink:focus{
    color: rgb(43, 2, 158);
    text-decoration: underline;
}

.navLink:hover {
    color: rgb(43, 2, 158);
    text-decoration: underline;
}

.div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 20px;
    row-gap: 48px; 
    column-gap: 24px;
}